ARC_TESTNET_RPC_URL=https://rpc.testnet.arc.network
ARC_DEPLOYER_PRIVATE_KEY=0xREPLACE_WITH_FUNDED_ARC_TESTNET_PRIVATE_KEY
NEXT_PUBLIC_ESCROW_CONTRACT_ADDRESS=
NEXT_PUBLIC_ESCROW_DEPLOY_TX=
DEMO_SUPPLIER_ADDRESS=
DEMO_INVOICE_REF=INV-GCC-2048
DEMO_INVOICE_USDC=18420
DEMO_ADVANCE_USDC=7368
